body{
  margin: 0px;
}
.main{
  height: 100vh;
  font-family:  Arial, Helvetica, sans-serif;
  color: #ffffff;
}
.main.home{
  background: url('../public/assets/home/HomeDesktop.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}
.main.destination{
  background: url('../public/assets/destination/DestinationDesktop.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  transition-duration: 0.5s
}
.main.crew{
  background: url('../public/assets/crew/background-crew-desktop.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  transition-duration: 0.5s
}
.main.technology{
  background: url('../public/assets/technology/background-technology-desktop.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  transition-duration: 0.5s
}
.main-nav .home{
    border-bottom: solid;
    border-bottom-color:rgb(247, 247, 247);
}
.top{
  display: flex;
  justify-content: space-between;
  height: 20vh;
  align-items: center;
}

.main-nav{
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  width: 55%;
  height: 70px;
  backdrop-filter: blur(20px);
}
.main-nav:active{
  border-color: rgb(247, 247, 247);
}

a{
  font-size: 12px;
  text-decoration: none;
  color:white;

}
.explore a{
  color:rgb(99, 98, 98);
}

.home-main{
  display: flex;
  justify-content: space-around;
  height: 80vh;
  align-items: center;
}

.space{
  font-size: 100px;
  margin-top: 10px;
  margin-bottom:20px;
}

.home-content{
  width: min-content;
}

h1{
  font-size: 20px;
}

h6{
  padding-inline: 5px;
  padding-top: 5px;
}

.explore{
  position: relative;
  left: 1%;
  top: 10%;
  display: flex;
  background-color: rgb(247, 247, 247);
  color: rgb(99, 98, 98);
  width: 200px;
  align-items: center;
  justify-content: center;
  height: 200px;
  border-radius: 50%;
}

/***************** Destination page ****************************/
.below{
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 70px 60px 60px 60px;
}

.des-top{
  margin-left: 10%;
}

.planet-buttons li{
  display: inline;
}

.planet-buttons{
  margin-left: 0px;
}

/**************Time distance **************************/
.time-distance{
  display: grid;
  grid-template-columns: 40% 60%;
}

.line{
  height: 4px;
  background-color: rgb(30, 36, 48);
}

li button{
  background: none;
  color:rgb(247, 247, 247);
  padding: 0px 0px 10px 0px;
  margin-right: 15px;
  font-size: 16px;
  border-style: none;
  cursor: pointer;
  text-transform: uppercase;

}

ul .btn button:hover{
  border-bottom-style: solid;
  border-bottom-color: rgb(161, 160, 157);
}
ul .btn .border-white{
  border-bottom-style: solid;
  border-bottom-color: seashell;
}
.planet-buttons{
  padding-left: 0px;
  margin-left: 0px;
  margin-top: 0px;
}

.Planet-name{
  font-size: 50px;
  text-transform: uppercase;
}

h6{
  margin-top: 10px;
  margin-bottom: 5px;
  padding-left: 0px;
  text-transform: uppercase;
}

span{
  text-transform: uppercase;
}

/*************img block **********************/
.block{
  width: auto;
  height: 100%;
}

.image-des{
  display: flex;
  justify-content: center;
  align-content: center;
}

.destination-content{
  max-height: 70vh;
}
.image-des{
  height: 300px;
}

/*****************Crew ******************************************/
.crew-meet{
  margin-left:10%;

}
.crew-content{
  display: grid;
  grid-template-columns: 10% 40% 40% 10%;
}

.left-content{
  grid-column-start: 2;
  grid-column-end: 3;
}

.right-content{
  grid-column-start: 3;
  grid-column-end: 4;
}

.left-content{
  display: grid;
  grid-template-rows: 10% 5% 25% 40% 20%;

}
.role{
  grid-row-start: 2;
  font-size:20px;
  text-transform: uppercase;
  color: rgb(122, 130, 141);
}

.name{
  grid-row-start:3;
  font-size: 40px;
  text-transform: uppercase;
}
.bio{
  grid-row-start:4;
}

.crew-buttons{
  grid-row-start: 5;
}
.crew-img{
  object-fit: cover;
  max-height: 400px;
  width: auto;
}

.crew-buttons li{
  display: inline;
}

.crew-buttons{
  padding-left: 0px;
}
.circle-btn button{
  background-color:rgb(47, 47, 49);
  height: 15px;
  width: 15px;
  border-radius: 50%;
}
.circle-btn button:hover{
  background-color: rgb(147, 147, 156);
  transition-duration: 1s;
  transition-timing-function: linear;
}

.circle-btn button.brigter{
  background-color: rgb(251, 255, 255);
  transition-duration: 2s;
  transition-timing-function: linear;
}

/***************technology***********************/
.space-launch{
  margin-left: 10%;
}
.technology-content{
  display: grid;
  grid-template-columns: 10% 10% 30% 10% 40%;
  height: 60vh;
}
.tech-first{
  grid-column-start: 2;
}

.tech-third{
  grid-column-start: 5;
}

.tech-img{
  object-fit: cover;
  max-height: 400px;
  width: auto;
}

/** icons **/
.tech-num-btn{
  list-style-type: none;
  padding-left: 0px;
}

.circle-num button{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: none;
  border-style: solid;
  border-color: rgb(47, 47, 49);
  padding: 5px;
  margin: 10px 10px 10px 0px;
  font-size: 25px;
}
.circle-num button:hover{
  background-color:rgb(159, 166, 177);
  transition-duration: 1s;
}
.circle-num button.btn-white{
  background-color: white;
  color:rgb(30, 36, 48);
}

.tech-name{
  text-transform: uppercase;
  font-size: 40px;
}

p{
  color:rgb(159, 166, 177);
}

/************Media queries***************/
/******Tab*******************************/
/********Home**********************/
@media only screen and (max-width: 820px) {
  a{
    font-size: 60%;
  }
  .space{
    font-size: 70px;
  }
  p{
    font-size: 80%;
  }
  h1{
    font-size: 80%;
  }
  .explore{
    font-size: 40px;
  }
  .main{
    height: 1120px;
    font-family:  Arial, Helvetica, sans-serif;
    color: #ffffff;
  }
  .main.home{
    background: url('../public/assets/home/background-home-tablet.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
  }
  .main.destination{
    background: url('../public/assets/destination/background-destination-tablet.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    transition-duration: 0.5s
  }
  .main.crew{
    background: url('../public/assets/crew/background-crew-tablet.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    transition-duration: 0.5s
  }
  .main.technology{
    background: url('../public/assets/technology/background-technology-tablet.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    transition-duration: 0.5s
  }

  .home-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
  }
  .home-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: 50%;
    text-align: center;
  }
  .explore{
    size: 80%;
    width: 150px;
    height: 150px;
  }
  /*********Destination*****************/
  .destination-content{
    display: grid;

  }
  .below{
    display: grid;
    grid-template-columns: auto;
  }
  .des-content{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .planets{
    width: 70%;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    text-align: center;
    margin-top: 20px;
  }
  .Planet-name{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  /********crew******************/
  .crew-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .left-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 70%;
  }
  /************Technology********************/
  .technology{
    display: flex;
    flex-direction: column;
  }
  .space-launch{
    order: 1;
  }
  .technology-content{
    order: 2;
  }
  .technology-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .tech-third{
    order: 1;
  }
  .tech-first{
    order: 2;
  }
  .tech-second{
    order: 3;
    text-align: center;
    width: 70%;
  }
  .tech-num-btn li{
    display: inline;
  }
  .tech-first{
    display: flex;
    flex-direction: column;
  }


}